.wrapperThinkbookLenovo {
    background-position: center top;
    background-repeat: no-repeat;
    max-width: 100%;
    position: relative;
}
.bg-thinkbookLenovo {
    background-image: url('https://cdn.tgdd.vn/2022/06/campaign/Background-4-1920x1350.png');
}

.listProduct-thinkbookLenovo {
    display: table;
    padding: 10px;
    margin: 0 auto;
}


